<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carmax</title>
    <th:block th:replace="/parts/bootstrap :: boot-css"></th:block>
</head>
<body>

<div th:replace="/parts/navbar :: header"></div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 my-2 justify-content-end">
        <div class="col">
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#carFilter">
                Find cars
            </button>
        </div>
    </div>

    <div class="row justify-content-center" th:if="${cars.isEmpty()}">
        <h3 class="h3"> There is no cars with chosen category</h3>
    </div>

    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-2" th:each="car : ${cars}">

            <div class="card text-white bg-dark my-3" style="opacity: 90%">

                <img th:if="${car.fileName}" th:src="@{'/img/' + ${car.fileName}}" class="card-img-top"
                     style="height: 200px; object-fit: cover">

                <div class="card-body">

                    <h4 class="card-text text-center" th:text="${car.brand.name} + ' ' + ${car.model.name}"></h4>
                    <h6 class="card-text" th:text="'Color: ' + ${car.color.name}"></h6>
                    <h6 class="card-text" th:text="'Price: ' + ${car.price} + '$'"></h6>

                    <form th:action="@{'/carmax/' + ${car.id} + '/more'}" method="get">
                        <button type="submit" class="btn btn-dark border-white my-2 font-weight-bold float-right">More
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-2 justify-content-center" th:insert="~{/parts/page :: pageable('/carmax')}"></div>
</div>

<div th:replace="/parts/car :: filter-modal"></div>

<div th:replace="/parts/bootstrap :: boot-js"></div>

</body>
</html>