<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car info</title>

    <th:block th:replace="/parts/bootstrap :: boot-css"></th:block>
</head>
<body>

<div th:replace="/parts/navbar :: header"></div>

<div class="container">
    <div class="card text-white bg-dark my-5">
        <div class="row no-gutters">
            <div class="col">
                <img th:if="${car.fileName}" th:src="@{'/img/' + ${car.fileName}}" class="card-img"
                     style="height: 450px; width: 500px; object-fit: cover">
            </div>
            <div class="col">
                <form class="my-5" method="post" th:action="@{/orders/add}" th:object="${car}">
                    <input type="hidden" name="id" th:value="*{id}" readonly>
                    <div class="card-header">
                        <h4 class="card-text mt-5" th:text="${car.brand.name} + ' ' + ${car.model.name}"></h4>
                    </div>
                    <div class="card-body" style="font-size: 20px;">
                        <p class="card-text" th:text="'This car has color: ' + ${car.color.name} +
                            '. This amazing car has ' + ${car.transmission.type} + ' transmission.' +
                            ' Also it has ' + ${car.fuel.type} + ' fuel type.' +
                            ' This car you can by with '  + ${car.price} + '$.'"></p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-dark border-white my-5 float-right" type="submit">Make order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="/parts/bootstrap :: boot-js"></div>

</body>
</html>