<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car info</title>

    <th:block th:replace="/parts/bootstrap :: boot-css"></th:block>
</head>
<body>

<div th:replace="/parts/navbar :: header"></div>

<div class="container">
    <div class="card text-white bg-dark my-5">
        <div class="row no-gutters">
            <div class="col">
                <img th:if="${car.fileName}" th:src="@{'/img/' + ${car.fileName}}" class="card-img"
                     style="height: 450px; width: 700px; object-fit: cover">
            </div>
            <div class="col">
                <div class="card-body">
                    <form class="my-5" method="post" th:action="@{/orders/add}" th:object="${car}">

                        <input type="hidden" name="id" th:value="*{id}" readonly>

                        <h4 class="card-text mt-5" th:text="${car.brand.name} + ' ' + ${car.model.name}"></h4>
                        <p class="card-title" th:text="'Color is: ' + ${car.color.name}"></p>
                        <p class="card-text mb-5" th:text="'Price is: ' + ${car.price}"></p>

                        <button class="btn btn-dark border-white my-5 float-right" type="submit">Make order</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="/parts/bootstrap :: boot-js"></div>

</body>
</html>