<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <th:block th:replace="/parts/bootstrap :: boot-css"></th:block>
</head>
<body>

<div th:replace="/parts/navbar :: header"></div>

<div class="container align-content-center">
    <form method="post" th:action="@{/user/update}" th:object="${user}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" name="username"
                       th:field="*{email}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputFirstName">First name</label>
                <input type="text" class="form-control" id="inputFirstName" name="firstName"
                       th:field="*{firstName}">
            </div>
            <div class="form-group col-md-6">
                <label for="inputSecondName">Second name</label>
                <input type="text" class="form-control" id="inputSecondName" name="secondName"
                       th:field="*{secondName}">
            </div>

            <button type="submit" class="btn btn-success">Complete</button>
        </div>
    </form>

    <div class="row" th:each="user : ${users}">
        <div class="col">
            <p class="btn-outline-info" th:text="${user.email}"></p>
        </div>
        <div class="col">
            <p class="btn-outline-info" th:text="${user.firstName}"></p>
        </div>
        <div class="col">
            <p class="btn-outline-info" th:text="${user.status}"></p>
        </div>
        <div class="col">
            <form method="get" th:action="@{'/user/' + ${user.id} + '/delete'}">
                <button class="btn-dark" type="submit">Delete user</button>
            </form>
        </div>
    </div>

    <div class="row" th:each="order : ${orders}">
        <div class="col">
            <p class="btn-outline-info" th:text="${order.user.email}"></p>
        </div>
        <div class="col">
            <p class="btn-outline-info" th:text="${order.car.color.name}"></p>
        </div>
        <div class="col">
            <form method="get" th:action="@{'/order/' + ${order.id} + '/delete'}">
                <button class="btn-dark" type="submit">Delete order</button>
            </form>
        </div>
    </div>
</div>

<div th:replace="/parts/bootstrap :: boot-js"></div>

</body>
</html>