<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User modal</title>

    <th:block th:replace="/parts/bootstrap :: boot-css"></th:block>

</head>
<body>

<div th:fragment="modal">
    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalEdit" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalEdit">Edit info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" th:action="@{/user/update}" th:object="${user}">
                    <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputFirstName">First name</label>
                                    <input type="text" class="form-control" id="inputFirstName" name="firstName"
                                           th:field="*{firstName}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputSecondName">Second name</label>
                                    <input type="text" class="form-control" id="inputSecondName" name="secondName"
                                           th:field="*{secondName}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail">Email</label>
                                    <input type="email" class="form-control" id="inputEmail" name="username"
                                           th:field="*{email}">
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="/parts/bootstrap :: boot-js"></div>

</body>
</html>